include README.md
include LICENSE
include requirements.txt
include MANIFEST.in
recursive-include examples *.py
recursive-include structured_logger *.py
global-exclude __pycache__
global-exclude *.py[co]